<launch>

  <!-- Arm kinematics -->
  <node pkg="arm_kinematics" type="arm_kinematics" name="irp6p_arm_kinematics">
    <param name="root_name" type="String" value="base_link" />
    <param name="tip_name" type="String" value="link6" />
    <param name="urdf_xml" type="String" value="/robot_description" />
  </node>

  <!-- load controllers -->
</launch>

