<launch>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="CONV_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find irp6_bringup)/config/conv.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <include file="$(find irp6_bringup)/launch/conv-inside.launch" ns="CONV_OROCOS_ROBOT">
  </include>

  <group ns="CONV_OROCOS_ROBOT">
    <rosparam>
      ConvHardwareInterface:
        test_mode: false
        timeouts_to_print: 3
    </rosparam>
  </group>

</launch>
