<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find irp6_description)/robots/irp6p.urdf.xacro'" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
  
  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="ROS_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find irp6_bringup)/config/irp6.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <group ns="ROS_OROCOS_ROBOT">
    <rosparam>
      HardwareInterface:
        auto_synchronize: true
        ports_adresses: [/dev/ttyMI8, /dev/ttyMI9, /dev/ttyMI10, /dev/ttyMI11, /dev/ttyMI12, /dev/ttyMI13]
        max_current: [25000, 18000, 15000, 17000, 10000, 2000]
        max_increment: [1000.0, 1000.0, 1000.0, 1000.0, 1000.0, 1000.0]
        card_indexes: [0, 1, 2, 3, 4, 5]
        tx_prefix_len: 0
        enc_res: [4000, 4000, 4000, 4000, 4000, 2000]
        synchro_step_coarse: [-0.03, -0.03, -0.03, -0.03, -0.03, -0.05]
        synchro_step_fine: [0.007, 0.007, 0.007, 0.007, 0.007, 0.05]
      JntPub:
        joint_names: [joint1, joint2, joint3, joint4, joint5, joint6]
      SplineTrajectoryGeneratorJoint:
        number_of_joints: 6
      SplineTrajectoryActionJoint:
        joint_names: [joint1, joint2, joint3, joint4, joint5, joint6]
        lower_limits: [-0.45,-2.2689280276,-0.6108652382,-1.5707963268,-10.0,-2.88]
        upper_limits: [2.9670597284,-0.872664626,0.6981317008,1.6057029118,10.0,2.93]
      SplineTrajectoryGeneratorMotor:
        number_of_joints: 6
      SplineTrajectoryActionMotor:
        joint_names: [joint1, joint2, joint3, joint4, joint5, joint6]
        lower_limits: [-470.0, -110.0, -80.0, -70.0, -80.0, -1000.0]
        upper_limits: [450.0, 100.0, 100.0, 380.0, 490.0, 3000.0]
      ToolInt:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0 
            x: 0.0
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.25
      ForceTransformation:
        is_right_turn_frame: true
        tool_weight: 10.8
        gravity_arm_in_wrist:
          x: 0.004
          y: 0.0
          z: 0.156
        sensor_frame:
          orientation:
            w: 0.0 
            x: 0.0
            y: 0.0
            z: -1.0
          position:
            x: 0.0
            y: 0.0
            z: 0.09 
    </rosparam>
</group>

</launch>
