<launch>
 
 #
 # DO NOT USE THAT FILE DIRECTLY.
 #
 # Use irp6-conv-hardware.launch or irp6-con-nohardware.launch 
 #
 
  
    
  <group>
    <rosparam>
      Irp6pDiag:
        hardware_label: Irp6p
      Irp6pScheme:
        scheme_name: irp6p_manager
      Irp6pHardwareInterface:
        auto_synchronize: false
        rwh_nsec: 1200000
        active_motors: [irp6pm_0, irp6pm_1, irp6pm_2, irp6pm_3, irp6pm_4, irp6pm_5, irp6ptfg]
        hardware_hostname: gerwazy.robotyka.ia.pw.edu.pl
        irp6pm_0:
          label: irp6pm_0
          ports_adresses: /dev/ttyMI8
          synchro_needed: 1
          max_current: 25000
          max_increment: 1000.0
          card_indexes: 0
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 1
        irp6pm_1:
          label: irp6pm_1
          ports_adresses: /dev/ttyMI9
          synchro_needed: 1
          max_current: 18000
          max_increment: 1000.0
          card_indexes: 1
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 1
        irp6pm_2:
          label: irp6pm_2
          ports_adresses: /dev/ttyMI10
          synchro_needed: 1
          max_current: 15000
          max_increment: 1000.0
          card_indexes: 2
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode:  1
        irp6pm_3:
          label: irp6pm_3
          ports_adresses: /dev/ttyMI11
          synchro_needed: 1
          max_current: 17000
          max_increment: 1000.0
          card_indexes: 3
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 1
        irp6pm_4:
          label: irp6pm_4
          ports_adresses: /dev/ttyMI12
          synchro_needed: 1
          max_current: 10000
          max_increment: 1000.0
          card_indexes: 4
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 0
        irp6pm_5:
          label: irp6pm_5
          ports_adresses: /dev/ttyMI13
          synchro_needed: 1
          max_current: 2000
          max_increment: 500.0
          card_indexes: 5
          enc_res: 2000.0
          synchro_step_coarse: -0.05
          synchro_step_fine: 0.05
          current_mode: 0
        irp6ptfg:
          label: irp6ptfg
          ports_adresses: /dev/ttyMI14
          synchro_needed: 1
          max_current: 200
          max_increment: 1000.0
          card_indexes: 6
          enc_res: 128.0
          synchro_step_coarse: -0.5
          synchro_step_fine: 0.2
          current_mode: 1
      Irp6pHwModel:
        iteration_per_step: 1
        step_per_second: 500
        torque_constant: [0.000105, 0.000105, 0.000105, 0.000105, 0.000105, 0.000105, 0.000105]
        inertia: [0.00015, 0.00015, 0.00015, 0.00015, 0.000015, 0.000015, 0.0000005]
        viscous_friction: [0.02, 0.02, 0.02, 0.02, 0.0002, 0.0002, 0.000002]
        current_input: [true, true, true, true, false, false, true]
      Irp6pmJntPub:
        joint_names: [Irp6pmJoint1, Irp6pmJoint2, Irp6pmJoint3, Irp6pmJoint4, Irp6pmJoint5, Irp6pmJoint6]
      Irp6pmMotPub:
        joint_names: [Irp6pmMotor1, Irp6pmMotor2, Irp6pmMotor3, Irp6pmMotor4, Irp6pmMotor5, Irp6pmMotor6]
      Irp6ptfgJntPub:
        joint_names: [Irp6ptfgJoint1]
      Irp6ptfgMotPub:
        joint_names: [Irp6ptfgMotor1]
      Irp6pmSplineTrajectoryGeneratorJoint:
        number_of_joints: 6
      Irp6pmSplineTrajectoryActionJoint:
        joint_names: [joint1, joint2, joint3, joint4, joint5, joint6]
        lower_limits: [-0.45, -2.2689280276, -0.6108652382, -1.5707963268, -10.0, -2.88]
        upper_limits: [2.9670597284, -0.872664626, 0.6981317008, 1.6057029118, 10.0, 2.93]
      Irp6ptfgSplineTrajectoryGeneratorJoint:
        number_of_joints: 1
      Irp6ptfgSplineTrajectoryActionJoint:
        joint_names: [joint1]
        lower_limits: [0.053]
        upper_limits: [0.09]
      Irp6pmMotorParameters:
        lower_limits: [-470.0, -110.0, -80.0, -70.0, -80.0, -1000.0]
        upper_limits: [450.0, 100.0, 100.0, 380.0, 490.0, 3000.0]
        synchro_motor_position: [-15.9, -5.0, -8.527, 151.31, 432.25, 791.0]
      Irp6pmSplineTrajectoryGeneratorMotor:
        number_of_joints: 6
      Irp6pmSplineTrajectoryActionMotor:
        joint_names: [joint1, joint2, joint3, joint4, joint5, joint6]
      IRp6pmLimitDetector:
        console_notification_active: true
        pos_inc_limit: [1000.0, 1000.0, 1000.0, 1000.0, 1000.0, 1000.0]
        pos_limit_active: [true, true, true, true, true, true]
        pos_inc_limit_active: [true, true, true, true, true, true]
      Irp6ptfgSplineTrajectoryGeneratorMotor:
        number_of_joints: 1
      Irp6ptfgMotorParameters:
        lower_limits: [-1800.0]
        upper_limits: [1200.0]
      Irp6ptfgSplineTrajectoryActionMotor:
        joint_names: [joint1]
      IRp6ptfgLimitDetector:
        console_notification_active: true
        pos_inc_limit: [1000.0]
        pos_limit_active: [true]
        pos_inc_limit_active: [true]
      IRp6pmRegulator_0:
        debug: false
        eint_dif: 0.01
        A: 0.412429378531
        BB0: 1.5569592
        BB1: 1.5028614
        current_mode: true
        current_reg_kp: 200.0
        max_output_current: 20000.0
        max_desired_increment: 200.0
        enc_res: 4000.0
      IRp6pmRegulator_1:
        debug: false
        eint_dif: 0.008
        A: 0.655629139073
        BB0: 0.6181068
        BB1: 0.5916852
        current_mode: true
        current_reg_kp: 150.0
        max_output_current: 15000.0
        max_desired_increment: 200.0
        enc_res: 4000.0
      IRp6pmRegulator_2:
        debug: false
        eint_dif: 0.008
        A: 0.315789473684
        BB0: 1.1984784
        BB1: 1.1424828
        current_mode: true
        current_reg_kp: 180.0
        max_output_current: 15000.0
        max_desired_increment: 200.0
        enc_res: 4000.0
      IRp6pmRegulator_3:
        debug: false
        eint_dif: 0.01
        A: 0.548946716233
        BB0: 0.6305064
        BB1: 0.5874396
        current_mode: true
        current_reg_kp: 170.0
        max_output_current: 15000.0
        max_desired_increment: 200.0
        enc_res: 4000.0
      IRp6pmRegulator_4:
        debug: false
        eint_dif: 0.02
        A: 0.391982182628
        BB0: 0.4458592
        BB1: 0.4085392
        current_mode: false
        current_reg_kp: 110.0
        max_output_current: 8000.0
        max_desired_increment: 200.0
        enc_res: 4000.0
      IRp6pmRegulator_5:
        debug: false
        eint_dif: 0.005
        A: 0.3
        BB0: 0.5456
        BB1: 0.5056
        current_mode: false
        current_reg_kp: 11.0
        max_output_current: 1000.0
        max_desired_increment: 200.0
        enc_res: 2000.0
      Irp6ptfgRegulator:
        debug: false
        eint_dif: 0.02
        A: 0.2
        BB0: 15.984375
        BB1: 15.784375
        current_mode: true
        current_reg_kp: 0.33
        max_output_current: 80.0
        max_desired_increment: 10000.0
        enc_res: 128.0
      IRp6pmPortDoubleSum_0:
        number_of_ports: 1
      IRp6pmPortDoubleSum_1:
        number_of_ports: 1
      IRp6pmPortDoubleSum_2:
        number_of_ports: 1
      IRp6pmPortDoubleSum_3:
        number_of_ports: 1
      IRp6pmPortDoubleSum_4:
        number_of_ports: 1
      IRp6pmPortDoubleSum_5:
        number_of_ports: 1
      Irp6ptfgPortDoubleSum:
        number_of_ports: 1
      Irp6pmPortDoubleSplit_hw_cp:
        number_of_ports: 6
      Irp6pmPortDoubleAggregate_hw_p:
        number_of_ports: 6
      Irp6ptfgPortDoubleSplit_hw_cp:
        number_of_ports: 1
      Irp6ptfgPortDoubleAggregate_hw_p:
        number_of_ports: 1
      Irp6pmPortDoubleAggregate_hw_curr:
        number_of_ports: 6
      Irp6pmToolInt:
        activate_pose_init: true
        init_setpoint:
          orientation:
            w: 1.0 
            x: 0.0           
            y: 0.0
            z: 0.0
          position:
            x: 0.0
            y: 0.0
            z: 0.25
      Irp6pmForceTransformation:
        is_right_turn_frame: true
        tool_weight: 10.8
        gravity_arm_in_wrist:
          x: 0.004
          y: 0.0
          z: 0.156
        sensor_frame:
          orientation:
            w: 0.0 
            x: 0.0
            y: 0.0
            z: -1.0
          position:
            x: 0.0
            y: 0.0
            z: 0.09
      ATI6284:
        force_limits: [65.0, 65.0, 130.0, 5.0, 5.0, 5.0]
        slow_buffer_size: 100
        fast_buffer_size: 2
      Irp6pWrenchPublisher:
        frame_id: pl_ef
      Irp6pTfPublisher:
        frame_ids: [pl_6]
        child_frame_ids: [pl_ef]
    </rosparam>
  </group>

</launch>
