<launch>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="IRP6_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find irp6_bringup)/config/irp6-hardware.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>


 
  <include file="$(find irp6_bringup)/launch/irp6-p-hardware-inside.launch" ns="IRP6_OROCOS_ROBOT">
  </include>
  
  <include file="$(find irp6_bringup)/launch/irp6-ot-hardware-inside.launch" ns="IRP6_OROCOS_ROBOT">
  </include>

  <include file="$(find irp6_bringup)/launch/haptic-inside.launch" ns="IRP6_OROCOS_ROBOT">
  </include>

</launch>
