<launch>
  <arg name="calibrated" default="0" />

  <group ns="camera_track">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="t_c_optical_frame" />
      <param name="serial" value="14180973" />
      <param name="camera_track_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_track_info/14180973.yaml" />
      <param name="frame_rate" value="30.0" />
      <param name="auto_gain" value="False" />
      <param name="gain" value="20" />
      <param name="auto_shutter" value="False" />
      <param name="shutter_speed" value="0.005" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

  </group>
</launch>
