<launch>
  <include file="$(find irp6_bringup)/launch/irp6-ot-inside.launch">
  </include>
  <group>
    <param name="Irp6otHardwareInterface_EC/master_config" command="cat $(find irp6_bringup)/config/master_config.yaml"/>
    <rosparam>
      Irp6otSupervisor:
        hal_component_name: Irp6otHardwareInterface_EC
      Irp6otHardwareInterface:
        timeouts_to_print: 3
      ATI3084:
        test_mode: false
      HandForce1:
        test_mode: false
      HandForce2:
        test_mode: false
    </rosparam>
  </group>
</launch>
