<launch>
  <arg name="camera_postument_serial" default="13481977" />
  <arg name="calibrated" default="0" />

  <group ns="camera_postument">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" />

    <node pkg="nodelet" type="nodelet" name="camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager" >
      <param name="frame_id" value="camera_postument" />
      <param name="serial" value="$(arg camera_postument_serial)" />
      <param name="camera_postument_info_url" if="$(arg calibrated)"
             value="file://$(env HOME)/.ros/camera_postument_info/$(arg camera_postument_serial).yaml" />
    </node>

    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
          args="load image_proc/debayer camera_nodelet_manager">
    </node>

  </group>
</launch>
