<launch>
 
 #
 # DO NOT USE THAT FILE DIRECTLY.
 #
 # Use irp6-conv-hardware.launch or irp6-con-nohardware.launch 
 #
 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find irp6_description)/robots/irp6pboth.urdf.xacro'" />
  
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
  
  
  <include file="$(find irp6_bringup)/launch/irp6-ot-inside.launch" ns="IRP6_OT_OROCOS_ROBOT">
  </include>
    
  <group ns="IRP6_OT_OROCOS_ROBOT">
    <rosparam>
      Irp6HardwareInterface:
        auto_synchronize: true
        rwh_nsec: 1200000
        active_motors: [irp6otm_0, irp6otm_1, irp6otm_2, irp6otm_3, irp6otm_4, irp6otm_5, irp6otm_6, irp6ottfg]
        hardware_hostname: gerwazy
    </rosparam>
  </group>


</launch>