<launch>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="IRP6_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find irp6_bringup)/config/irp6.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>


 
  <include file="$(find irp6_bringup)/launch/irp6-p-inside.launch" ns="IRP6_OROCOS_ROBOT">
  </include>
  
  <include file="$(find irp6_bringup)/launch/irp6-ot-inside.launch" ns="IRP6_OROCOS_ROBOT">
  </include>

  <group ns="IRP6_OROCOS_ROBOT">
    <rosparam>
      Irp6pHardwareInterface:
        test_mode: false
        timeouts_to_print: 3
      Irp6otHardwareInterface:
        test_mode: false
        timeouts_to_print: 3
      ATI6284:
        test_mode: false
      ATI3084:
        test_mode: false
      HapticScheme:
        scheme_name: haptic_manager
    </rosparam>
  </group>

</launch>
