<library path="src">
  <class name="Irp6Dashboard" type="irp6_dashboard.irp6_dashboard.Irp6Dashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying a dashboard that displays and interacts with irp6 robot.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Irp6 Dashboard</label>
      <icon type="theme">system-help</icon>
      <statustip>A Python GUI plugin for displaying a dashboard that displays and interacts with irp6 robot.</statustip>
    </qtgui>
  </class>
</library>