<launch>

  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="NAME" value="SARK_OROCOS_ROBOT"/>
    <arg name="DEPLOYER_ARGS" value="-s $(find sarkofag_bringup)/config/sark-fic.ops"/>
    <arg name="LOG_LEVEL" value="Warning"/>
    <arg name="DEBUG" value="false"/>
  </include>


  <include file="$(find sarkofag_bringup)/launch/sark.launch">
  </include>

  <group ns="SARK_OROCOS_ROBOT">
    <rosparam>
      SarkofagScheme:
        scheme_name: controller_manager
      SarkofagHardwareInterface:
        test_mode: false
        timeouts_to_print: 3
      SarkofagRegulator:
        filename: sarkofag_test.csv
        input_type: increment
    </rosparam>
  </group>

</launch>


