<launch>
 
 #
 # DO NOT USE THAT FILE DIRECTLY.
 #
 # Use sark-hardware.launch or sark-nohardware.launch 
 #
   
  <group>
    <rosparam>
      SarkofagHardwareInterface:
        sarkofag:
          label: sarkofag
          ports_adresses: /dev/ttyMI7
          synchro_needed: 1
          max_current: 25000
          max_increment: 1000.0
          max_desired_increment: 200.0
          card_indexes: 0
          enc_res: 4000.0
          synchro_step_coarse: -0.03
          synchro_step_fine: 0.007
          current_mode: 1
      SarkofagSplineTrajectoryGeneratorJoint:
        number_of_joints: 1
      SarkofagSplineTrajectoryActionJoint:
        joint_names: [joint1]
        lower_limits: [-0.45]
        upper_limits: [2.9670597284]
      SarkofagSplineTrajectoryGeneratorMotor:
        number_of_joints: 1
      SarkofagSplineTrajectoryActionMotor:
        joint_names: [joint1]
        lower_limits: [-470.0]
        upper_limits: [450.0]
      SarkofagRegulator:
        reg_number: 1
        debug: false
        eint_dif: 0.01
        A: 0.412429378531
        BB0: 1.5569592
        BB1: 1.5028614
        enc_res: 4000.0
        current_mode: true
        current_reg_kp: 200.0
        max_output_current: 20000.0
        max_desired_increment: 200.0
        regulator_type: irp6
      SarkofagPortDoubleSplit_hw_cp:
        number_of_ports: 1
      SarkofagPortDoubleAggregate_hw_p:
        number_of_ports: 1
      SarkofagPortDoubleSum:
        number_of_ports: 1
      SarkofagJntPub:
        joint_names: [SarkofagJoint]
    </rosparam>
  </group>

</launch>
